<br>
<br>
<div class="ui container contact">
    <form class="ui form" method="POST" action="admin/postsuite">
      <h2 class=" ui dividing header" style="text-align: center;">Add New Suites</h2>
      <div class="two fields">
        <div class="field">
          <label>Suites Name*</label>  
          <input type="text" name="suitename" placeholder="Suite name (It can be where its Located)">
          <% if (messages.msg) {%>
            <span style="color: red; font-weight: 600;"><%= messages.msg %></span>
            <%}%>
        </div>
        <div class="field">
          <label>Suite Address*</label>
          <input type="text" name="address" placeholder="Address">
        </div>
      </div>
  
      <div class="two fields">
        <div class="field">
          <label>Suite Price</label>
          <input type="number" name="suiteprice" placeholder="Suite Price">
        </div>
        <div class="field">
          <label>Number of rooms*</label>
          <input type="number" name="numberofrooms" id="" placeholder="Number of rooms">
        </div>
      </div>      
  
      <h4 class="ui dividing header">Suites Description</h4>
      <div class="field">
        <div class="ui form">
          <div class="field">
            <textarea name="suitedescription" placeholder="Suites Description"></textarea>
          </div>
        </div>
      </div>
      <input type="submit" class="ui button" tabindex="0" value="Save New Suite">
    </form>

<br>
<br>

    <form method="POST" action="admin/uploadphoto" class="ui form"  enctype="multipart/form-data">

      <h2 class=" ui dividing header" style="text-align: center;">Add Images to suites</h2>

      <div class="two fields">
        <div class="field">
          <label>Add Suites Images</label>
            <input type="file" name="suiteimage">
        </div>
        <div class="field">
          <label>Suites*</label>
          <select name="suiteselected" id="suiteselected" class="ui dropdown">
            <% suites.forEach(function(suite) { %>     
              <option id="suiteid" name = "suiteid" value="<%= suite.suite_id %>"><%= suite.suite_name %></option>
              <% })%>
            
          </select>
        </div>
      </div>
      <input type="submit" class="ui button" tabindex="0" value="Save New Suite">
    </form>

  </div>

  <br> <br><br>