<% include partials/head.ejs %>
<br>
<br>
<!--Location Apartments-->
<div class="ui container">
    <div class="card-deck ui">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1512915922686-57c11dde9b6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Niagara Suites</b></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1523192193543-6e7296d960e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Mississauga Villa</b></h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1472224371017-08207f84aaae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Oakville Crystal</b></h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>
  <!--Location Apartments-->


<% include partials/footer.ejs %>