<% include partials/head.ejs %>
 
<h2><%= suiteName%></h2> 

<table class="ui celled padded table">  
    <thead>
      <tr><th class="single line">Icon</th>
      <th>Feature name</th>
      <th>Comments</th>
    </tr></thead>
    <% data.forEach(function(data) { %>
    <tbody>
      <tr>
        <td>
          <h2 class="ui center aligned header"><%= data.features_logo %></h2>
        </td>
        <td class="single line">
          <%= data.feature_name %>
        </td>
        <td><%= data.feature_details %></td>
      </tr>
    </tbody>
    <%});%>
  </table>

  
<br> <br>
<% include partials/footer.ejs %>