<% include partials/headAdmin.ejs %>



<table class="ui celled padded table">
    <thead>
      <tr><th class="single line">Icon</th>
      <th>Feature name</th>
      <th>Comments</th>
    </tr></thead>
    <tbody>
      <tr>
        <td>
          <h2 class="ui center aligned header">A</h2>
        </td>
        <td class="single line">
          Power Output
        </td>
        <td>Creatine supplementation is the reference compound for increasing muscular creatine levels; there is variability in this increase, however, with some nonresponders.</td>
      </tr>
    </tbody>
  </table>

  
<br> <br>
<% include partials/footer.ejs %>